@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost-Medium.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost-SemiBold.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
}

body {
  font-family: Jost, 'sans-serif';
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  width: 100%;
}

.container {
  max-width: 2120px;
  margin: 0 auto;
  padding: 0 100px;
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__main {
  background-color: #FFF8F6;
  border-radius: 0px, 0px, 200px, 200px;
}

.logo {
  padding: 25px 0 20px;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  gap: 0 40px;
}

.menu__link {
  text-transform: uppercase;
}

.menu__item:hover {
  color: rgb(246, 98, 62);
  transition: all 0.2s ease-in-out;
}

.user__nav {
  display: flex;
  gap: 0 20px;
}


.header__main-container {
  display: flex;
  justify-content: space-between;
  gap: 0 50px;
}

.header__main {
  padding: 200px 75px;
  margin-bottom: 100px;
}

.header__main-inner {
  max-width: 500px;
}

.header__main-suptitle {
  color: #F6623E;
  font-weight: 600;
  font-size: 26px;
  line-height: 42px;
}

.header__main-title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 50px;
  line-height: 70px;
  margin-bottom: 20px;
}

.header__main-subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: rgb(127, 117, 117);
  text-align: left;
  margin-bottom: 20px;
}

.header__main-btn {
  text-transform: uppercase;
  padding: 14px 30px;
  background-color: #F6623E;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 100px 0;
  margin-bottom: 100px;
}

.info__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}

.info__text-profits {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  gap: 0 150px;
}

.info__text-profits p {
  text-transform: uppercase;
  color: rgb(127, 117, 117);
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}

.info__text-title {
  max-width: 450px;
  font-weight: 600;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
}

.info__quality {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 50px;
}

.info__quality-item {
  width: 370px;
  height: 370px;
  text-align: center;
  padding: 50px 20px;
  cursor: pointer;
}

.info__quality-item:hover {
  background-image: none;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  background: rgb(255, 248, 246);
  transition: all 0.3s ease-in-out;
}

.info__quality-item:hover img {
  background-color: rgb(246, 98, 62);
  transition: all 0.3s ease-in-out;
}


.info__quality-img {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  background-color: rgb(255, 248, 246);
  padding: 20px;
  margin-bottom: 50px;
}

.info__quality-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 34px;
  margin-bottom: 15px;
}

.profit {
  margin-bottom: 110px;
}

.profit__container{
  max-width:1920px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.profit__description {
  position: relative;
  max-width: 1000px;
  background-color: #FFF8F6;
  border-radius: 0px 0px 200px 0px;
  padding: 280px 300px 100px 120px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 75px;
  margin-right: 150px;
}

.profit__description::before {
  content: '';
  position: absolute;
  background-image: url(../img/profit/flower.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 0;
  left: 0;
  width: 380px;
  height: 450px;
}

.profit__description::after {
  content: '';
  position: absolute;
  background-image: url(../img/profit/profit-main.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateY(-50%);
  top: 50%;
  left: 80%;
  width: 300px;
  height: 400px;
}

.profit__item {
  width: 300px;
  text-align: left;
}

.profit__item-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 15px;
}

.profit__info{
  padding-right: 50px;
}

.profit__info-title {
  font-weight: 700;
  font-size: 44px;
  line-height: 62px;
  text-transform: uppercase;
  margin-bottom: 140px;
}

.profit__info-text {
  color: #9D9D9D;
  font-size: 20px;
  line-height: 30px;
}

.profit__info-text+.profit__info-text {
  margin-top: 30px;
}

.profit__info-btn {
  margin-top: 50px;
  text-transform: uppercase;
  background-color: #fff;
  border: 2px solid rgb(246, 98, 62);
  padding: 15px 35px;
}

.slider {
  background-color: #FFF8F6;
  border-radius: 0px 0px 0px 200px;
  margin-bottom: 75px;
}

.swiper-slide--one {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiperOne {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  max-width: 1920px;
  padding: 150px;
  margin: 0 auto;
}

.swiper-img {
  width: 500px;
  height: 500px;
  margin-right: 250px;
}

.swiper__title {
  max-width: 750px;
  font-weight: 600;
  font-size: 50px;
  line-height: 72px;
  text-align: left;
  margin-bottom: 35px;
}

.swiper__description{
  max-width:750px;
}

.swiper__price {
  display: flex;
  margin-bottom: 35px;
  position: relative;
}

.swiper__newprice {
  margin-right: 25px;
  color: #F6623E;
  font-weight: 600;
  font-size: 34px;
}

.swiper__oldprice {
  font-size: 25px;
  color: #9D9D9D;
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  text-decoration-color: #9D9D9D;
  text-decoration-skip-ink: none;
  text-underline-offset: 6px;
}

.swiper__text {
  color: #454545;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 50px;
}

.swiper__button {
  border: 2px solid #F6623E;
  padding: 15px 30px;
  text-transform: uppercase;
}

.swiper-pagination {
  margin-right: 65px;
}

.swiper-pagination-bullet{
  width: 20px;
  height: 20px;
  border: 2px solid #2b2828;
  background: rgb(255, 248, 246);
}

.swiper-pagination-bullet-active{
  border: 2px solid rgb(246, 98, 62);
  background: rgb(255, 248, 246);
  position: relative;
}

.swiper-pagination-bullet-active::after{
  content:'';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: rgb(246, 98, 62);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.products{
  margin-bottom: 100px;
}

.products-container{
  display: flex;
  justify-content: space-between;
}

.products__info-inner{
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  justify-content: center;
}

.products__info{
  max-width:800px;
} 

.products__suptitle {
  color:#F6623E;
  font-weight: 700;
  line-height: 82px;
}
.products__title {
  font-weight: 700;
  font-size: 46px;
  line-height: 52px;
  margin-bottom: 35px;
}
.products__text {
  font-size: 22px;
  color: #9D9D9D;
  margin-bottom: 80px;
}

.swiperTwo { 
  overflow: hidden;
  position: relative;
}

.swiper-slide--two img {
  width: 300px;
  height: 225px;
  border-radius: 10px;
}

.products__slider-img{
  margin-bottom: 10px;
}

.products__slider-title {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.products__slider-price {
  text-transform: uppercase;
  display: flex;
  gap: 0 5px;
}
.products__slider-newprice {
  color: #F6623E;
  font-size: 20px;
}
.products__slider-oldprice {
  text-decoration: line-through;
  text-decoration-thickness: 1px; 
  color: #9D9D9D;
  font-weight: 400;
  font-size: 18px;
}

.swiper-button-next::after, 
.swiper-button-prev::after{
  position: absolute;
  content:'';
}

.swiper-button-prev, .swiper-button-next{
  background-repeat: no-repeat;  
  background-position: 50% 50%;
  background-color: white;
  border-radius: 50%; 
  width: 40px;
  height: 40px;  
  top: 50%;
  transform:translateY(-50%);
}

.swiper-button-prev:hover, 
.swiper-button-next:hover{
  background-color:#F6623E;
  transition: all 0.4s ease-in-out;
}

.swiper-button-prev{
  background-image: url(../img/product/left.svg);

}

.swiper-button-next{
  background-image: url(../img/product/right.svg);
  right: 30px;
}

.bottle{
  margin-bottom: 100px;
  padding:100px 335px;
  background-color: rgb(255, 248, 246);
  border-radius: 0 0 0 200px;
}

.bottle__inner{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.bottle__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 42px;
  margin-bottom: 15px;
}
.bottle__subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color:#9D9D9D; 
  margin-bottom: 85px;
}

.bottle__box{
  position: relative;

}

.bottle__box-item{
  cursor: pointer;
}

.bottle__box-item img{
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
}

.bottle__box-item:hover img{
  opacity: 1;
  transition: opacity 0.7s ease-in-out;
}



.arrowOne, .arrowTwo, .arrowThree, .arrowFour, .arrowFive, .arrowSix {
  position: absolute;
  content:'';
}

.arrowOne, .arrowTwo, .arrowThree{
  left: 40px;
}
.arrowOne{
  top:120px;
}
.arrowTwo{
  bottom: 340px;
}
.arrowThree{
  bottom: 100px;
}

.arrowFour, .arrowFive, .arrowSix{
  right: -30px;
}
.arrowFour{
  top:135px;
}
.arrowFive{
  top:360px;
}
.arrowSix{
  bottom: 100px;
}


.bottle__box-title{
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 2px;
  color: #F6623E;
}

.bottle__box-text{
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
}

.bottle__box-info--one, .bottle__box-info--two, .bottle__box-info--three, .bottle__box-info--four, .bottle__box-info--five, .bottle__box-info--six {
  position: absolute;
  content:'';
  max-width: 325px;
}
.bottle__box-info--one{
  top: 110px;
  left: -270px;
}
.bottle__box-info--two{
  left: -270px;
    bottom: 255px;
}
.bottle__box-info--three{
  bottom: 20px;
    left: -270px;
}
.bottle__box-info--four{
  top: 110px;
  right: -365px;
}
.bottle__box-info--five{
  right: -365px;
    top: 340px;
}
.bottle__box-info--six{
  bottom: 30px;
  right: -365px;
}

